<html>
  <head>
    <title> Kafei's Blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">Kafei's Blog</a></h1>
      <p> Anju if you're reading this... I'll be home soon</p>
    </div>

    <div>
      <div>
           <p>published: 06.10.2018, 11:11</p>
           <h2><a href="">My moon</a></h2>
           <p>Even though you and I seem so far apart, I can always gaze upon your beauty just by looking up.</p>
       </div>

       <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>       
  </body>
</html>
